/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/


body {
	@apply bg-background text-foreground font-sans;
}

.input-invalid.input-invalid,
.wpcf7-not-valid,
.woocommerce form .form-row.woocommerce-invalid input.input-text{
	@apply invalid:!border-red-500 focus:invalid:!outline-red-500
}

.woocommerce-checkout #payment ul.payment_methods li label img{
	@apply inline-block
}
.woocommerce form .form-row.woocommerce-invalid label{
	@apply !text-red-500
}

.payu-list-banks label{
	@apply rounded-md
}

.input-error{
	@apply mt-2 text-red-500
}

.paypal-buttons{
	@apply !max-w-[300px] !block !ml-auto !rounded-[15px] !overflow-hidden
}

.list-alpha{
	list-style: lower-alpha !important;
}

.list-roman{
	list-style: lower-roman !important;
}

.woocommerce-privacy-policy-text{
	@apply !text-xs mb-5
}

.woocommerce-privacy-policy-text p{
	@apply mt-0
}

.woocommerce-privacy-policy-text a{
	@apply text-primary no-underline font-semibold
}

form .form-basic .wpcf7-list-item input[type=checkbox]{
	@apply !size-auto
}

.wpcf7-not-valid-tip{
	@apply !text-xs
}

label.checkbox, .wpcf7-list-item-label {
	@apply !text-xs !inline
}

.tooltip{
	@apply inline-block ml-3
}
.tooltip:hover .tooltip-text{
	@apply opacity-100 pointer-events-auto translate-y-0
}
.tooltip .tooltip-text{
	@apply p-2 z-20 translate-y-2 absolute bottom-[calc(100%_+_10px)] right-0 bg-[#EFEFEF] rounded-xl text-foreground shadow-md opacity-0 pointer-events-none transition duration-300
}
.tooltip .tooltip-text p {
	@apply text-[10px]
}
.tooltip .tooltip-text a {
	@apply !text-primary font-medium no-underline
}
.tooltip .tooltip-text::after {
	content: " ";
	position: absolute;
	top: 100%; /* At the bottom of the tooltip */
	right: 15px;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #EFEFEF transparent transparent transparent;
  }
.tooltip .tooltip-icon{
	@apply inline-block text-center rounded-full text-foreground bg-[#EFEFEF] text-xs size-4 pt-px font-semibold
}

.has-tooltip{
	@apply flex relative
}
.has-tooltip > p {
	@apply inline
}

.newsletter-form .wpcf7-list-item{
	@apply !ml-1
}

[data-js="qty-control"] input[type='number']::-webkit-outer-spin-button,
[data-js="qty-control"] input[type='number']::-webkit-inner-spin-button,
[data-js="qty-control"] input[type='number'] {
	-webkit-appearance: none;
	margin: 0;
	-moz-appearance: textfield !important;
}

.calculator form{
	@apply flex-col
}

.calculator .tc-field-label-wrap .tc-price-wrap,
.calculator .tmcp-field-wrap-inner .tc-price-wrap{
	@apply hidden
}
.calculator-details > .price{
	@apply hidden
}

/* WP 6.6 update fix */
:root :where(a:where(:not(.wp-block-navigation))),
:root :where(a:where(:not(.wp-element-button))) {
    text-decoration: initial;
}

//BOX homepage
.box{
    position: relative;
    justify-content: center;
    max-width: 600px;
    width: auto;
    margin: 50px auto 50px auto;
    color: #8117EE;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    padding: 25px;
}

.box:before{
	content: '';
    position: absolute;
    background: linear-gradient(0deg, rgba(129, 23, 238, 0), rgba(129, 23, 238, 0.101961) 0%, rgba(129, 23, 238, 0));
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 39px;
}
