/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
body {
	@apply bg-background text-foreground font-sans;
}

.input-invalid.input-invalid,
.wpcf7-not-valid,
.woocommerce form .form-row.woocommerce-invalid input.input-text{
	@apply invalid:!border-red-500 focus:invalid:!outline-red-500
}

.woocommerce-checkout #payment ul.payment_methods li label{
	@apply inline-flex
}
.woocommerce form .form-row.woocommerce-invalid label{
	@apply !text-red-500
}

.payu-list-banks label{
	@apply rounded-md
}

.input-error{
	@apply mt-2 text-red-500
}

.paypal-buttons{
	@apply !max-w-[300px] !block !ml-auto !rounded-[15px] !overflow-hidden
}

.list-alpha{
	list-style: lower-alpha !important;
}

.list-roman{
	list-style: lower-roman !important;
}

.woocommerce-privacy-policy-text{
	@apply !text-xs mb-5 
}

.woocommerce-privacy-policy-text p{
	@apply mt-0
}

form .form-basic .wpcf7-list-item input[type=checkbox]{
	@apply !size-auto
}

.wpcf7-not-valid-tip{
	@apply !text-xs
}

label.checkbox, .wpcf7-list-item-label {
	@apply !text-xs !inline-block
}

.tooltip{
	@apply inline-block ml-3
}
.tooltip:hover .tooltip-text{
	@apply opacity-100 pointer-events-auto translate-y-0
}
.tooltip .tooltip-text{
	@apply p-2 z-20 translate-y-7 absolute bottom-[calc(100%_+_10px)] right-0 bg-[#EFEFEF] rounded-xl text-foreground shadow-md opacity-0 pointer-events-none transition duration-300
}
.tooltip .tooltip-text::after {
	content: " ";
	position: absolute;
	top: 100%; /* At the bottom of the tooltip */
	right: 9px;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #EFEFEF transparent transparent transparent;
  }
.tooltip .tooltip-icon{
	@apply inline-block text-center rounded-full text-foreground bg-[#EFEFEF] text-xs size-4 pt-px font-semibold
}

.has-tooltip > p {
	@apply inline
}

[data-js="qty-control"] input[type='number']::-webkit-outer-spin-button,
[data-js="qty-control"] input[type='number']::-webkit-inner-spin-button,
[data-js="qty-control"] input[type='number'] {
	-webkit-appearance: none;
	margin: 0;
	-moz-appearance: textfield !important;
}
