/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
body {
	@apply bg-background text-foreground font-sans;
}

.input-invalid.input-invalid,
.wpcf7-not-valid,
.woocommerce form .form-row.woocommerce-invalid input.input-text{
	@apply invalid:!border-red-500 focus:invalid:!outline-red-500
}

.woocommerce-checkout #payment ul.payment_methods li label{
	@apply inline-flex
}
.woocommerce form .form-row.woocommerce-invalid label{
	@apply !text-red-500
}

.payu-list-banks label{
	@apply rounded-md
}

.input-error{
	@apply mt-2 text-red-500
}

.paypal-buttons{
	@apply !max-w-[300px] !block !ml-auto !rounded-[15px] !overflow-hidden
}

.list-alpha{
	list-style: lower-alpha !important;
}

.list-roman{
	list-style: lower-roman !important;
}

.woocommerce-privacy-policy-text{
	@apply !text-xs mb-5 
}

.woocommerce-privacy-policy-text p{
	@apply mt-0
}

label.checkbox {
	@apply !text-xs !leading-none !inline-block
}

[data-js="qty-control"] input[type='number']::-webkit-outer-spin-button,
[data-js="qty-control"] input[type='number']::-webkit-inner-spin-button,
[data-js="qty-control"] input[type='number'] {
	-webkit-appearance: none;
	margin: 0;
	-moz-appearance: textfield !important;
}
