/**
 * Custom styles to immediately follow Tailwind’s `utilities` layer
 *
 * Add your own utility classes to this theme. Complex utility classes should
 * be added using Tailwind’s plugin system:
 *
 * https://tailwindcss.com/docs/plugins#adding-utilities
 */

.scrollbar-none {
	-ms-overflow-style: none !important;
	scrollbar-width: none !important;
}

.scrollbar-minimal::-webkit-scrollbar-track {
	background-color: #fff;
}
.scrollbar-minimal::-webkit-scrollbar {
	width: 9px;
	height: 9px;
	background-color: #ffffff;
}
.scrollbar-minimal::-webkit-scrollbar-thumb {
	background-color: #8117ee;
	border-radius: 8px;
	border: 3px solid #fff;
}